body {
    text-align: center;
    color: tomato;
    background: rgb(250,250,210);
}

ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

ol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-decoration: overline underline;
}

hr {
    height: 2px;

}